@import "../../../../sass/styles";

.mat-card {
  overflow-y: auto;
  background: rgba($base-grey, 1);
}

.crits-card {
  top: 10%;
  left: 20%;
  text-align: center;
  position: fixed;
  z-index: 9;
}

img {
  height: 32rem;
  width: 23.5rem;
}
