<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="auth-full-width">
    <label for="username">Username</label>
    <input matInput formControlName="username" id="username" placeholder="Username">
  </mat-form-field>

  <mat-form-field class="auth-full-width">
    <label for="password">Password</label>
    <input type="password" matInput formControlName="password" id="password" placeholder="Password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
