<section class="crits-section-form">
  <div class="crits-full-form__row">
    <div class="crits-full-form">

      <form class="crits-full-form__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="crits-form__group">
          <label for="username">Username</label>
          <input matInput formControlName="username" id="username" placeholder="Username">
          <CritsAndCoffee-form-field-error-message
            [control]="loginForm.controls.username"></CritsAndCoffee-form-field-error-message>
        </mat-form-field>

        <mat-form-field class="crits-form__group">
          <label for="password">Password</label>
          <input type="password" matInput formControlName="password" id="password" placeholder="Password">
          <CritsAndCoffee-form-field-error-message
            [control]="loginForm.controls.password"></CritsAndCoffee-form-field-error-message>
        </mat-form-field>

        <div class="crits-form__group">
          <button class="crits-form__button" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>

      </form>
    </div>
  </div>
</section>
