<h1>
  This is only the beginning ..
</h1>
<mat-divider></mat-divider>
<h1>Docker</h1>
<p> This project is developed and deployed in Docker containers. </p>
<mat-divider></mat-divider>
<h1>Built on the Cloud with AWS</h1>
<p> Every part of this project is deployed and hosted using AWS for flexibility and scalability. Built use ReSTful service for a future ready application. No matter the frontend the services provide and store the data.</p>
<mat-divider></mat-divider>
<h1>What a Stack!</h1>
<h3>Caddy for HTTPS</h3>
<p>A proxy that is quick to setup, and uses the power of LetEncrypt to always keep a cert up to date. HTTPS made easy.</p>
<h3>PostgreSQL</h3>
<p>Open source, GIS ready, with the relationships we need.</p>
<h3>.NET Core</h3>
<p>Multi-platform, supercharged performance, massive user base, and single page app read </p>
<h3>Flask</h3>
<p>Low overhead, small services ready for big data. This small python web framework allows me to use the latest Python data libraries while still inside a web capable framework. Of course this means I can leverage Anaconda python when I need to!</p>
<mat-divider></mat-divider>
<h1>Jenkins</h1>
<p>CI/CD made easy, deployment is only a push away. Multi branch architecture, develop anywhere with ease. With Jenkins my containers stay fresh in development and deployment. No matter what machine I start working on I always have the latest build, and I simply push my code and walk away.</p>


<p>
  What you see is only the beginning. 
  This project is more than a simple web app about displaying Instagram posts, this is my sandbox where I can learn new technologies.
  This project is composed of a .NET core app serving you an Angular 7 frontend, but the user auth is taken car of by a Django api, 
  and hiding in all of that is a redis and celery instance to keep my posts up to date so I don't have to keep asking instagram. 
  Then there are some other micro frameworks I have only begun to use for future features, including a Flask app that uses Intel's python distribution and Quandl to hammer through large data sets!
  Behind everything there is a completely automated CI/CD pipeline that leverages Jenkins and Git branches that allows me to develop new feature on different branches without worries of breaking 
  the live app because only once a feature is merged to master will it attempt deployment. All of this is agnostic of environment as it is all containerized with Docker. When code is pushed Jenkins 
  takes care of building the new container pushing them to DockerHub, later developers pull the local images using docker-compose and can continue developing using all the tools they like including HTTPS, Angular's JIT compiler, and a full Postgresql DB. 
  All locally! When it comes to updating the live site, Jenkins builds the production containers, tests them, and then deploys them out to AWS, where redundant and scalable services such as Ec2, RDS, and Route53 are waiting to host in an enterprise level 
  environment. So when I want to try a new technology I have an infrastructure ready, no matter what environment is required I can plug it in and start playing! 
  So keep checking back, or pull the project on github and contribute!
</p>
