www.{$DOMAIN_NAME} {
    redir https://critsandcoffee.com
}

{$DOMAIN_NAME} {
    proxy / front-end-app {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    proxy /api/v1/auth instagram-api

    proxy /api/v1/logger instagram-api

    proxy /api/v1/instagram instagram-api

    log stdout
    errors stdout
    gzip
}
