www.{$DOMAIN_NAME} {
    redir https://critsandcoffee.com
}

{$DOMAIN_NAME} {
    proxy / front-end-app {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
