<div class="crits-hero-container">
  <img src="assets/images/site_images/crits_and_coffee_logo.png" alt="">

  <h1 fxLayout="row wrap" fxLayoutAlign="space-around center">Stephen R. Wagstaff</h1>
  <h3 fxLayout="row wrap" fxLayoutAlign="space-around center">Software Developer - Professional Cyclist - Foodie</h3>
  <hr>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <a mat-raised-button color="accent" href="https://www.instagram.com/critsandcoffee/" target="_blank"
       class="btn btn-secondary btn-lg">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      Instagram
    </a>
    <a mat-raised-button color="accent" href="https://github.com/srwagsta" target="_blank"
       class="btn btn-secondary btn-lg">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      Github
    </a>
    <a mat-raised-button color="accent" href="https://www.linkedin.com/in/srwagsta" target="_blank"
       class="btn btn-secondary btn-lg">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      Linkedin
    </a>
  </div>

</div>
