<div class="crits-hero-container">
  <span class="spacer"></span>
  <h1>Stephen R. Wagstaff</h1>
  <h3>Software Developer - Professional Cyclist - Foodie</h3>
  <hr>
  <ul class="list-inline intro-social-buttons ">
    <li class="list-inline-item wow fadeInUp animated" data-wow-delay="2s"
        style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">
      <a href="https://www.instagram.com/critsandcoffee/" target="_blank" class="btn btn-secondary btn-lg">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon> Instagram
      </a>
    </li>
    <li class="list-inline-item wow fadeInUp animated" data-wow-delay="2s"
        style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">
      <a href="https://github.com/srwagsta" target="_blank" class="btn btn-secondary btn-lg">
        <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
      </a>
    </li>
    <li class="list-inline-item wow fadeInUp animated" data-wow-delay="2s"
        style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">
      <a href="https://www.linkedin.com/in/srwagsta" target="_blank" class="btn btn-secondary btn-lg">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> Linkedin
      </a>
    </li>
  </ul>

</div>
