<footer class="crits-footer" role="contentinfo">
  <div class="footer-top">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h5>Privacy & Terms</h5>
          <ul class="list-unstyled">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Project License</a></li>
            <li><a href="#">User Agreement</a></li>
            <li><a href="#">API Terms Of Use</a></li>
            <li><a href="#">Copyright Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h5>Get Connected</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/critsandcoffee/" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon> Instagram
              </a></li>
            <li>
              <a href="https://github.com/srwagsta" target="_blank">
                <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/srwagsta" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> Linkedin
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="col-xs-12">
      <p class="text-xs-center">&copy; Copyright 2019 - Stephen Wagstaff.  All rights reserved.</p>
    </div>
  </div>
</footer>
