<footer class="crits-footer" role="contentinfo">
  <div class="footer-top">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h5>Popular Services</h5>
          <ul class="list-unstyled">
            <li><a href="#">Payment Center</a></li>
            <li><a href="#">Contact Directory</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h5>Website Information</h5>
          <ul class="list-unstyled">
            <li><a href="#">Website Tutorial</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="col-xs-12">
      <p class="text-xs-center">&copy; Copyright 2019 - Stephen Wagstaff.  All rights reserved.</p>
    </div>
  </div>
</footer>
