@import "../../../sass/styles";

mat-nav-list {
  padding: 1rem 1rem 0 1rem;
}

.crits-sidenav {
  background: linear-gradient(rgba($dark-grey, 1), rgba($brand-primary-color, .40)) !important;

  &-home{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba($brand-primary-color, .40)) !important;
  }
}

mat-list-item {
  a {
    color: $brand-secondary-color;
  }
}


app-footer {
  z-index: 2;
  width: 100%;
}

.crits-brand-animate {
  &:hover {
    animation: heartbeat 1.5s ease-in-out infinite both
  }

}

.crits-brand {
  margin-left: -80px;
  margin-top: -15px;
  -webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-style: italic !important;
  font-size: 250% !important;
  animation-delay: 6s;
  color: rgba($brand-secondary-color, 1);

  &:hover {
    color: rgba($brand-primary-color, .8);
  }
}

.crits-nav-container {}

.crits-toolbar {
  background: rgba($dark-grey, 1) !important;

  &-home {
    background: rgba(black, 1) !important;
  }
}

.crits-sidenav-container {}

.crits-content {}

.spacer {
  flex: 1 1 auto;
}

.custom-toggler {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-focus-in 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 6s;

}

.togglerBar1,
.togglerBar2,
.togglerBar3 {
  width: 35px;
  height: 5px;
  background-color: $brand-primary-color;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  .togglerBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: $brand-secondary-color;
  }

  .togglerBar2 {
    opacity: 0;
  }

  .togglerBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: $brand-primary-color;

  }
}

/* change the link color */
.navbar-nav .nav-link {
  color: rgba($brand-primary-color, 1);
}

/* change the color of active or hovered links */
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: $white;
}

.footer-bottom {
  img {
    height: 5rem;
    width: auto;
    margin-right: -15rem;
    margin-left: 10rem;
  }
}
