<div class="crits-nav-container">
  <mat-toolbar color="primary" class="crits-toolbar">
    <h1 class="crits-brand" routerLink="home">
      Crits & Coffee
    </h1>

    <span class="spacer"></span>

    <div #menuIcon class="custom-toggler" (click)="onClick()">
      <div class="togglerBar1"></div>
      <div class="togglerBar2"></div>
      <div class="togglerBar3"></div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container (backdropClick)="toggleMenuIcon()" class="crits-sidenav-container">
    <mat-sidenav #sideNav fixedTopGap="56" (keydown)="toggleMenuIcon()">
      <mat-nav-list>
        <button mat-list-item mat-icon-button color="primary" (click)="onClick()" routerLink="home">
          <mat-icon aria-label="home icon button">home</mat-icon>
        </button>
        <button mat-list-item mat-icon-button color="primary" (click)="onClick()" routerLink="instagram-map">
          <mat-icon aria-label="map button">home</mat-icon>
        </button>
        <button mat-list-item mat-icon-button color="primary" (click)="onClick()" routerLink="about">
          <mat-icon aria-label="about page button">home</mat-icon>
        </button>
        <button mat-list-item mat-icon-button color="primary" (click)="onClick()" >
          <mat-icon aria-label="api docs button">home</mat-icon>
        </button>
        <a class="mat-list-item" (click)="onClick()" [href]="API_route">API</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
