<nav class="navbar navbar-dark navbar-crits-custom">

  <a class="navbar-brand" routerLink="home">
    Crits & Coffee
  </a>



  <div class="custom-toggler" (click)="$event.currentTarget.classList.toggle('change');"  data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <div class="togglerBar1"></div>
    <div class="togglerBar2"></div>
    <div class="togglerBar3"></div>
  </div>

  <div class="crits-collapse collapse navbar-collapse" id="navbarMenu">
    <div class="navbar-nav ">
      <a class="nav-link ml-auto" routerLink="home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link ml-auto" routerLink="instagram-map">View My Travels</a>
      <a class="nav-link ml-auto" routerLink="about">About</a>
      <a class="nav-link ml-auto" [href]="API_route">API</a>
    </div>
  </div>

</nav>
