<CritsAndCoffee-legal-document-wrapper>
<h1>Copyright Policy</h1>

  <p>Effective date: February 21, 2019</p>
  <p>Copyright © Crits And Coffee 2019 All Rights Reserved</p>
  <p>
    All files and information contained in this Website are copyright by Crits And Coffee, and may not be duplicated,
    copied, modified or adapted, in any way without our written permission.
    Our Website may contain our service marks or trademarks as well as those of our affiliates or other companies,
    in the form of words, graphics, and logos.
    Your use of our Website, and Services does not constitute any right or license for you to use our service
    marks or trademarks, without the prior written permission of Crits And Coffee.
    Our Content, as found within our Website, Blog and Services, is protected under United States and foreign copyrights.
    The copying, redistribution, use or publication by you of any such Content, is strictly prohibited.
    Your use of our Website and Services does not grant you any ownership rights to our Content.
  </p>
</CritsAndCoffee-legal-document-wrapper>
