.crits-home-component{
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.crits-button{
  animation: slide-in-blurred-bottom;
  animation-duration: 2s;
  .button-1{
    padding-right: 20%;
    animation-delay: 1s;
  }
  .button-2{
    animation-delay: 2s;
  }
  .button-3{
    padding-left: 20%;
    animation-delay: 3s;
  }
}
