<div class="modal-header">
  <p class="modal-title">{{post.caption}}</p>
  <br/>
  <button mat-button aria-label="Close" matTooltip="Close" (click)="activeModal.dismiss('Cross click')">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <img src="{{ post.image_standard_resolution_url }}" alt="{{ post.location_name }}">
  <p>{{ post.location_name }} <br/> ({{post.location.coordinates[1]}}
    , {{post.location.coordinates[0]}})</p>
</div>
<div class="modal-footer">
  <p>{{ post.tags }}</p>
  <br/>
  <a mat-button [href]="post.link" matTooltip="View it on Instagram">
    <mat-icon>add_a_photo</mat-icon>
  </a>
</div>
