<crits-hero></crits-hero>
  
  <div fxLayout="column" fxLayoutAlign="center" class="crits-home-component">
    <h1 fxLayout="row wrap" fxLayoutAlign="center">
      Stephen
      <span fxShow fxHide.lt-sm="true">&nbsp; R. &nbsp;</span>
      Wagstaff
    </h1>
    <mat-divider class="home-divider"></mat-divider>
    <h5 fxLayout="row wrap" fxLayoutAlign="space-around center" fxShow fxHide.lt-sm="true">
      Software Developer - Professional Cyclist - Foodie
    </h5>
    <hr>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="crits-button-animate">
        <a mat-button color="primary" href="https://www.instagram.com/critsandcoffee/" target="_blank"
          class="crits-button button-1">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          Instagram
        </a>
      </div>

      <div class="crits-button-animate">
        <a mat-button color="primary" href="https://github.com/srwagsta" target="_blank" class="crits-button button-2">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
          Github
        </a>
      </div>

      <div class="crits-button-animate">
        <a mat-button color="primary" href="https://www.linkedin.com/in/srwagsta" target="_blank"
          class="crits-button button-3">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          Linkedin
        </a>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="home-quote">
        "{{currentQuote.quote}}" <br/> - {{currentQuote.author}}
      </div>
    </div>

  </div>
